html, body {
    background: #424242;
    overflow: hidden;
    height: 330px;
    width: 300px;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.visual {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#cover {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    background-image: url(../images/plak.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center center;
    background-color: #111;
    padding: 0;
    margin: 0;
}

.controls {
    position: fixed;
    z-index: 444;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background: #302f2f;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
}

.playpause {
    display: block;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-color: transparent;
    transition-duration: 1s;
    margin-top: 10px;
    margin-left: 25px;
}

.svgBtn {
    display: inline-block;
    width:50px;
    height: 50px;
}

.range {
    display: inline-flex;
    align-items: center;
    margin-left: 30px;
}

.audio {
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 130px;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Customized range */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fe6e01;
  border-radius: 30px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fe6e01;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #fe6e01;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fe6e01;
}
input[type=range]::-ms-fill-upper {
  background: #fe6e01;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fe6e01;
}